{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3>Add item</h3>
    <p>(enter costs in rupees and time periods in months)</p>
    <hr>
     <div class="row">
       <div class="col-4 offset-md-2">

          <form method="post" action="added_item/">
            {% csrf_token %} 
            <div class="row">
                <div class="col-8"><label for="element01">Item name</label></div>
                <div class="col-4"><input name="Item_name" type="text" id="element01" required></div>
            </div>    
            <div class="row">
                <div class="col-8"><label for="element02">Order advertisment cost</label></div>
                <div class="col-4"><input name="Order_advertisment_cost" type="number" id="element02" required></div>
            </div>
            <div class="row">
                <div class="col-8"><label for="element03">Transportation cost</label></div>
                <div class="col-4"><input name="Transportation_cost" type="number" id="element03" required></div>
            </div>
            <div class="row">
                <div class="col-8"><label for="element04">Anti deteriorate cost</label></div>
                <div class="col-4"><input name="Anti_deteriorate_cost" type="number" id="element04" required></div>
            </div>
            <div class="row">
                <div class="col-8"><label for="element05">Usable time</label></div>
                <div class="col-4"><input name="Usable_time" type="number" id="element05" required></div>
            </div>
            <div class="row">
                <div class="col-8"><label for="element06">Lead time</label></div>
                <div class="col-4"><input name="Lead_time" type="number" id="element06" required></div>
            </div><br>
            <div class="row">
                <div class="col-6"> </div>
                <div class="col-4"><button class="btn btn-primary" type="submit">additem</button></div>
            </div>
          </form>
        </div>
     </div>
  </div>
  {% endblock %}