{% extends 'register_base.html' %}

{% block content %} 
<form action="regist" method="post">
    {% csrf_token %} 
    <div class="row">
        <div class="col-6"><label for="element01">First name</label></div>
        <div class="col-6"><input name="first_name" type="text" class="form-control" id="element01" required></div>
    </div>    
    <div class="row">
        <div class="col-6"><label for="element02">Last name</label></div>
        <div class="col-6"><input name="last_name" type="text" class="form-control" id="element02" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element03">Username</label></div>
        <div class="col-6"><input name="username" type="text" class="form-control" id="element03" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element04">Email ID</label></div>
        <div class="col-6"><input name="email" type="email" class="form-control" id="element04" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element05">Password</label></div>
        <div class="col-6"><input name="password1" type="password" class="form-control" id="element05" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element06">Confirm password</label></div>
        <div class="col-6"><input name="password2" type="password" class="form-control" id="element06" required></div>
    </div>
    <input type="submit">
  </form>
{% endblock content %}