{% extends 'signup_base.html' %}

{% block content %} 
<form method="post" action="signed_up/">
    {% csrf_token %} 
    <div class="row">
        <div class="col-6"><label for="element01">First name</label></div>
        <div class="col-6"><input name="First_name" type="text" class="form-control" id="element01" required></div>
    </div>    
    <div class="row">
        <div class="col-6"><label for="element02">Last name</label></div>
        <div class="col-6"><input name="Last_name" type="text" class="form-control" id="element02" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element03">Username</label></div>
        <div class="col-6"><input name="Username" type="text" class="form-control" id="element03" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element04">Email ID</label></div>
        <div class="col-6"><input name="Email_ID" type="email" class="form-control" id="element04" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element05">Password</label></div>
        <div class="col-6"><input name="Password" type="password" class="form-control" id="element05" required></div>
    </div>
    <div class="row">
        <div class="col-6"><label for="element06">Confirm password</label></div>
        <div class="col-6"><input name="Confirm_password" type="password" class="form-control" id="element06" required></div>
    </div>
    <button class="btn btn-primary" formmethod="post" type="submit">register</button>
  </form>
{% endblock content %}